{% include 'header.html' %}

<div class="container" id="page">

	<div class="col-md-8">
	
	<h1>Afspraken</h1>

	<p>Deze afspraken zijn gevonden: </p>

	<table class="table table-striped">
		
		<thead>
			<th>Description</th>
			<th>Start Tijd</th>
			<th>Eind Tijd</th>
			<th>Download</th>
		</thead>

		
		{% for e in data %}
		<tr>
			<td>{{ e.summary }}</td>
			<td>{{ e.dtstart }}</td>
			<td>{{ e.dtend }}</td>
			<td><a href="/ics/{{ e.summary }};{{ e.dag }};{{ e.ics_start }};{{ e.ics_eind }}">Download</a></td>
		</tr>
		{% endfor %}
		

	</table>

	<p>Klik hieronder op de grote groene knop om alle afspraken in calender formaat te downloaden: (geschikt voor Outlook!)</p>

	<a class="btn btn-large btn-success" href="/ics/{{ encoded_ics }}">Download ICS</a>

	</div>

</div>

{% include 'footer.html' %}

