{% include 'header.html' %}

<div class="container" id="page">

	<div class="col-md-6">
	
	<h1>XLS 2 ICS</h1>

	<p>Dit handige stukje gereedschap helpt je om agenda afspraken vanuit Excel om te zetten tot calender afspraken (die je weer in Outlook kan stoppen! En dus eenvoudig kan mailen!)</p>

	<p>We gebruiken hiervoor een format, die kan je downloaden met de onderstaande knop: </p>

	<a href="#">FORMAT</a>

	<h4>Voorbeeld?</h4>

	<a href="/102 Joost Plattel: datum plan;42401|102 Joost Plattel:datum verslag 1;42491;0,53125;0,0104166666666667">/102 Joost Plattel: datum plan;42401|102 Joost Plattel:datum verslag 1;42491;0,53125;0,0104166666666667</a>

	</div>

</div>

{% include 'footer.html' %}

