{% include 'header.html' %}

<div class="container" id="page">

	<div class="col-md-12">
		<h1>XLS 2 ICS</h1>
	</div>


	<div class="col-md-6">

		<h3>Start hier</h3>

		<p>Dit handige stukje gereedschap helpt je om agenda afspraken vanuit Excel om te zetten tot calender afspraken (die je weer in Outlook kan stoppen! En dus eenvoudig kan mailen!)</p>

		<p>We gebruiken hiervoor een format, die kan je downloaden met de onderstaande knop: </p>

		<a class="btn btn-large btn-info" href="#">Download Excel Format</a>

		<h4>Voorbeeld?</h4>

		<p>Nou, zoiets:</p>

		<p><a href="/102 Joost Plattel: datum plan;42401|102 Joost Plattel:datum verslag 1;42491;0,53125;0,0104166666666667">/102 Joost Plattel: datum plan;42401|102 Joost Plattel:datum verslag 1;42491;0,53125;0,0104166666666667</a></p>

		<h3>Over</h3>

		<p>Gemaakt door <a href="http://herman.kopinga.nl/">Herman</a> & <a href="http://www.jplattel.nl/">Joost</a>.</p>

		<p>De broncode staat op <a href="">github</a>.</p>

	</div>

</div>

{% include 'footer.html' %}

